body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

#upper-header {
    background-color: #0094DC;
    padding: 0 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

#social {
    margin: 1vw auto 1vw 0;

    display: flex;
    gap: 3vw;
}

#social img {
    flex: none;
    width: max(3vmax, 10px);
    height: max(3vmax, 10px);
}

#address, #phone {
    margin: 1vw 0;

    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0.5vw;
}

#address span, #phone span {
    color: white;
    font-size: max(1.5vmax, 10px);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#address img, #phone img {
    flex: none;
    width: max(3vmax, 10px);
    height: max(3vmax, 10px);
}

#bottom-header {
    /*height: 8vw;*/
    background-color: #EFFAFC;
    padding: 0 10vw;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#logo {
    margin: 1.5vw auto 1.5vw 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1vw;
}

#logo span {
    color: #FF3B78;
    text-transform: uppercase;
    /*line-height: 5vw;*/
}

#logo img {
    width: max(3vmax, 30px);
}

#navbar {
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#navbar button {
    flex: none;
    padding: 0;
}


#promo {
    height: 50vw;
    background-color: #EFFAFC;
    padding: 0 10vw;

    /*--mask: radial-gradient(86.02px at 50% calc(100% - 120.00px), #000 99%, #0000 101%) calc(50% - 100px) 0/200px 100%,*/
    /*radial-gradient(86.02px at 50% calc(100% + 70.00px), #0000 99%, #000 101%) 50% calc(100% - 50px)/200px 100% repeat-x;*/
    /*-webkit-mask: var(--mask);*/
    /*mask: var(--mask);*/

    display: flex;
    flex-direction: row;
    overflow: hidden;

    position: relative;
}


#promo::before {
    content: "";
    width: 100%;
    height: 4vw;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 42vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%23ffffff'/></svg>");
}

@media (max-width: 850px) {
    #promo::before {
        height: 20.5px
    }
}

#promo-left {
    flex: 4 4 auto;
    padding-top: 5vw;
}

.promo-text-big {
    margin: 0;
}

.promo-text-small {
    margin: 2vw 0 0 0;
}

#promo .solid-button {
    margin: 3vw 0;
}

#promo-care {
    width: 30vw;
    height: 10vw;
    background-color: white;
    border-radius: 1vw;

    display: flex;
    flex-direction: row;
    gap: 2vw;
    padding: 1vw;
}

#promo-care img {
    border-radius: 1vw;
}

#promo-care span {
    line-height: 10vw;
}

#promo > img {
    flex: 6 6;
    padding-right: 50px;
}

#services {
    padding: 0 10vw;
    margin-bottom: 10vw;
}

#services-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}

.service {
    position: relative;
}

.service img {
    width: 100%;
    border-radius: 1vw;
}

.service-info {
    position: absolute;
    width: 80%;

    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    border-radius: 1vw;
    background-color: white;

    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

#animals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5vw 10vw;
}

#animals-left {
    flex: 1 1;
}

#animals-left img {
    width: 100%;
    border-radius: 1vw;
}

#animals-right {
    flex: 1 1;
    padding: 5vw 0 5vw 5vw;
}

#animals-right p:first-child {
    margin: 1vw 0;
}

#emergency {
    height: 50vw;

    background-image: url("res/dog-and-cameraman.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;

    position: relative;
}

#emergency-info {
    position: absolute;
    top: 50%;
    left: 10vw;
    transform: translate(0, -50%);

    width: 20vw;
    height: 30vw;
    background-color: white;
    border-radius: 1vw;

    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: flex-start;*/
    padding: 1vw 4vw;
    overflow: hidden;
}

#emergency-info > * {
    /*flex: 1 1 auto;*/
}

#emergency-info .solid-button {
    width: 16vw;
    height: 4vw;
}

#emergency-info img {
    flex: none;
    width: 5vw;
    height: 5vw;
    margin: 2vw 0;
}

#opinion {
    height: 50vw;

    background-image: url("res/dog-on-white-field.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 50vw 0 10vw;
}

#opinion > img {
    width: 10vw;
    height: 10vw;

    outline: 0.3vw solid #093958;
    outline-offset: 0.5vw;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 1vw;
}

.quote {
    margin: 1vw 0;
}

.author-name {
    color: #0094DC;
    margin: 0;
}

.author-info {
    color: #8C96A4;
    margin: 0;
}


#footer {
    color: white;
    height: 30vw;
    background-color: #0094DC;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw 20vw;
    overflow: hidden;
}

#footer-buttons {
    display: flex;
    flex-direction: row;
}

#footer-buttons > button {
    color: white;
    border-radius: 3vw;
    width: 14vw;
    height: 4vw;
    margin: 2vw 0.5vw;
    padding: 0;
}

.text-color-blue {
    color: #093958;
}

.text-color-white {
    color: white;
}

.text-font {
    font-family: Arial, Helvetica, sans-serif;
}

.text-1vw {
    font-size: 1vw;
}

.text-1-2vw {
    font-size: max(1.2vw, 8px);
}

.text-1-5vw {
    font-size: max(1.5vw, 10px);
}

.text-2vw {
    font-size: 2vw;
}

.text-3vw {
    font-size: max(3vw, 20px);
}

.text-4vw {
    font-size: 4vw;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.transparent-button {
    background-color: transparent;
    border: none;
}

.border-white {
    border: 0.1vw solid white;
}

.solid-button {
    color: #EFFAFC;
    background-color: #FF3B78;
    border: none;
}

/*.big-button {*/
/*    width: 12vw;*/
/*    height: 4vw;*/
/*}*/

/*.small-button {*/
/*    width: 8vw;*/
/*    height: 2vw;*/
/*}*/

/*.medium-button {*/
/*    width: 10vw;*/
/*    height: 3vw;*/
/*}*/

.big-button {
    width: max(12vmax, 100px);
    height: max(4vmax, 30px);
}

.small-button {
    width: max(6vmax, 40px);
    height: max(2vmax, 20px);
}

.medium-button {
    width: max(10vmax, 80px);
    height: max(3vmax, 25px);
}

.border-radius-3 {
    border-radius: 3vw;
}

.border-radius-5 {
    border-radius: 5vw;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-1vw {
    margin: 0 0 1vw 0;
}

.margin-bottom-2vw {
    margin: 0 0 2vw 0;
}

@media (orientation: portrait) or (max-width: 600px) {
    #promo > img {
        display: none;
    }

    #services-slider {
        flex-direction: column;
        gap: 10vw;
    }

    #animals {
        flex-direction: column;
    }

    #emergency-info {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #opinion {
        background-image: none;
        padding: 0 10vw;
    }
}